* {
    box-sizing: border-box;
    outline: none;
}

html, body{
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100% !important;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.subpage {
    background-color: #fafafa;
}

.title{
    font-size: 1.42rem;
    text-align: center;
    margin: 1.2rem auto;
}

.showcases a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    width: 100%;
    padding: 1.2rem 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1.14rem;
    overflow: hidden
}

.showcases a:before{
    content: " ";
    position: absolute;
    left: 1.1rem;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.showcases a:nth-child(1):after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.showcases a:last-of-type:before{
    left: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

    .showcases a::before {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }

    .showcases a::after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.showcases a>span {
    line-height: 1;
}

.showcases a>span:nth-child(1){
    flex: 0 1 2.2rem;
    color: #f07c01;
    font-size: 1.4rem;
}

.showcases a>span:nth-child(1) span{
    width: 1.6rem;
    text-align: center;
}

.showcases a>span:nth-child(2){
    flex: 1 1 80%;
    font-size: 1.1rem;
    font-weight: 400;
}

.showcases a>span:nth-child(3){
    flex: 0 1 1.4rem;
    color: #f0943f;
    text-align: center;
}

.showcases a:active {
    background-color: #f2f2f2;
}

.overLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.overLayer svg{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -15px;
}

.overLayer svg path, .overLayer svg rect{
    fill: #FF6700;
}

.subtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.subtitle .page-back {
    flex: 1 1 20%;
    height: 4.14rem;
}

.subtitle .page-back a{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 2rem;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    color: #f0943f;
}

.subtitle .page-title{
    flex: 1 1 60%;
    height: 4.14rem;
    font-size: 1.42rem;
    text-align: center;
    line-height: 4.14rem;
}

.subtitle .extension{
    flex: 1 1 20%;
}

.subtitle .desc{
    flex: 1 1 100%;
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #eee;
}

.left-enter{
    z-index: 9999;
    opacity: 1;
    transform: translate3d(100%, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
}

.left-enter.left-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease-out;
}

.left-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
}

.left-leave.left-leave-active {
    opacity: 1;
    transform: translate3d(-20%, 0, 0);
    transition: all 0.3s ease-out;
}

/*路由切换动画——右移动*/
.right-enter {
    transform: translateX(-100%);
}

.right-enter.right-enter-active {
    transform: translateX(0);
    transition: all 0.4s ease-out;
}

.right-leave {
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 10000;
    opacity: 1;
    transform: translateX(0);
}

.right-leave.right-leave-active {
    opacity: 1;
    transform: translateX(100%);
    transition: all 0.4s ease-out;
}